In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [26]:
for year in range(2008,2024):
    df = pd.read_csv(f'runs_wickets_per_season\\{year}_batters.csv')
    print(f'{year} : {len(df.columns)}, {len(set(df.columns))}')

2008 : 43, 43
2009 : 43, 43
2010 : 43, 43
2011 : 43, 43
2012 : 43, 43
2013 : 43, 43
2014 : 43, 43
2015 : 43, 43
2016 : 43, 43
2017 : 43, 43
2018 : 43, 43
2019 : 43, 43
2020 : 43, 43
2021 : 43, 43
2022 : 42, 42
2023 : 42, 42

In [19]:
df_21 = pd.read_csv('runs_wickets_per_season\\2021_batters.csv')
df_23 = pd.read_csv('runs_wickets_per_season\\2023_batters.csv')

In [20]:
df_21.head()

,StrikerName,PlayerId,Matches,PlayerDOB,RightHandedBat,Nationality,TCompetitionID,TStrikerID,TTeamID,TeamCode,...,Outs,NotOuts,BattingAveragesss,FiftyPlusRuns,Centuries,DoubleCenturies,HighestScore,BattingAverage,Catches,Stumpings
0,Ruturaj Gaikwad,102,16,NaN,NaN,NaN,10013,NaN,NaN,CSK,...,14,2,45.35,4,1,NaN,101*,45.35,NaN,NaN
1,Faf du Plessis,94,16,NaN,NaN,NaN,10013,NaN,NaN,CSK,...,14,2,45.21,6,0,NaN,95*,45.21,NaN,NaN
2,KL Rahul,19,13,NaN,NaN,NaN,10013,NaN,NaN,PBKS,...,10,3,62.60,6,0,NaN,98*,62.60,NaN,NaN
3,Shikhar Dhawan,11,16,NaN,NaN,NaN,10013,NaN,NaN,DC,...,15,1,39.13,3,0,NaN,92,39.13,NaN,NaN
4,Glenn Maxwell,28,15,NaN,NaN,NaN,10013,NaN,NaN,RCB,...,12,2,42.75,6,0,NaN,78,42.75,NaN,NaN

In [23]:
df_23.head()

,StrikerName,PlayerId,Matches,PlayerDOB,RightHandedBat,Nationality,TCompetitionID,TStrikerID,TTeamID,TeamCode,...,NotOuts,BattingAveragesss,FiftyPlusRuns,Centuries,DoubleCenturies,HighestScore,BattingAverage,Catches,Stumpings,ClientPlayerID
0,Shubman Gill,62,17,0000-00-00,True,Indian,107,2019-100mb00000000062-8fa4884a17f311,35,GT,...,2,445.0,4,3,0,129,59.33,6,0,3761.0
1,Faf Du Plessis,94,14,0000-00-00,True,Overseas,107,2019-100mb00000000094-1e8fa14543ee11,19,RCB,...,1,730.0,8,0,0,84,56.15,3,0,24.0
2,Devon Conway,601,16,0000-00-00,False,Overseas,107,2021-100mb00000000601-517399b0ceaf11,13,CSK,...,2,336.0,6,0,0,92*,51.69,6,0,20572.0
3,Virat Kohli,2,14,0000-00-00,True,Indian,107,2018-wicb00000000002-47ea5a6ae99a11,19,RCB,...,2,319.5,6,2,0,101*,53.25,13,0,164.0
4,Yashasvi Jaiswal,533,14,0000-00-00,False,Indian,107,2020-100mb00000000533-e895f279639811,18,RR,...,1,625.0,5,1,0,124,48.08,8,0,13538.0

In [21]:
df_21.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 43 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   StrikerName        149 non-null    object
 1   PlayerId           149 non-null    int64
 2   Matches            149 non-null    int64
 3   PlayerDOB          0 non-null      float64
 4   RightHandedBat     0 non-null      float64
 5   Nationality        0 non-null      float64
 6   TCompetitionID     149 non-null    int64
 7   TStrikerID         0 non-null      float64
 8   TTeamID            0 non-null      float64
 9   TeamCode           149 non-null    object
 10  TeamName           149 non-null    object
 11  CompetitionID      149 non-null    int64
 12  TeamID             0 non-null      float64
 13  StrikerID          0 non-null      float64
 14  Innings            149 non-null    int64
 15  Extras             0 non-null      float64
 16  TotalRuns          149 non-null    int64
 17  Balls              149 non-null    int64
 18  Dotballs           0 non-null      float64
 19  StrikeRate         149 non-null    float64
 20  DBPercent          0 non-null      float64
 21  DBFreq             0 non-null      float64
 22  BdryFreq           0 non-null      float64
 23  BdryPercent        0 non-null      float64
 24  RPSS               0 non-null      float64
 25  ScoringBalls       0 non-null      float64
 26  Ones               0 non-null      float64
 27  Twos               0 non-null      float64
 28  Threes             0 non-null      float64
 29  Fours              149 non-null    int64
 30  Sixes              149 non-null    int64
 31  Most_4s            149 non-null    int64
 32  Most_6s            149 non-null    int64
 33  Outs               149 non-null    int64
 34  NotOuts            149 non-null    int64
 35  BattingAveragesss  149 non-null    float64
 36  FiftyPlusRuns      149 non-null    int64
 37  Centuries          149 non-null    int64
 38  DoubleCenturies    0 non-null      float64
 39  HighestScore       149 non-null    object
 40  BattingAverage     149 non-null    float64
 41  Catches            0 non-null      float64
 42  Stumpings          0 non-null      float64
dtypes: float64(24), int64(15), object(4)
memory usage: 50.2+ KB

In [24]:
df_23.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 166 entries, 0 to 165
Data columns (total 42 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   StrikerName        166 non-null    object
 1   PlayerId           166 non-null    int64
 2   Matches            166 non-null    int64
 3   PlayerDOB          166 non-null    object
 4   RightHandedBat     166 non-null    bool
 5   Nationality        166 non-null    object
 6   TCompetitionID     166 non-null    int64
 7   TStrikerID         166 non-null    object
 8   TTeamID            166 non-null    int64
 9   TeamCode           166 non-null    object
 10  TeamName           166 non-null    object
 11  CompetitionID      166 non-null    int64
 12  TeamID             166 non-null    int64
 13  StrikerID          166 non-null    object
 14  Innings            166 non-null    int64
 15  Extras             166 non-null    int64
 16  TotalRuns          166 non-null    int64
 17  Balls              166 non-null    int64
 18  Dotballs           166 non-null    int64
 19  StrikeRate         166 non-null    float64
 20  DBPercent          166 non-null    float64
 21  DBFreq             166 non-null    float64
 22  BdryFreq           166 non-null    float64
 23  BdryPercent        166 non-null    float64
 24  RPSS               166 non-null    float64
 25  ScoringBalls       166 non-null    int64
 26  Ones               166 non-null    int64
 27  Twos               166 non-null    int64
 28  Threes             166 non-null    int64
 29  Fours              166 non-null    int64
 30  Sixes              166 non-null    int64
 31  Outs               166 non-null    int64
 32  NotOuts            166 non-null    int64
 33  BattingAveragesss  114 non-null    float64
 34  FiftyPlusRuns      166 non-null    int64
 35  Centuries          166 non-null    int64
 36  DoubleCenturies    166 non-null    int64
 37  HighestScore       166 non-null    object
 38  BattingAverage     166 non-null    object
 39  Catches            166 non-null    int64
 40  Stumpings          166 non-null    int64
 41  ClientPlayerID     163 non-null    float64
dtypes: bool(1), float64(8), int64(24), object(9)
memory usage: 53.5+ KB

In [22]:
df_21.shape

(149, 43)

In [25]:
df_23.shape

(166, 42)

In [28]:
col_21 = set(df_21.columns)
col_23 = set(df_23.columns)
len(col_21.intersection(col_23))

41

In [29]:
col_21.difference(col_23)

{'Most_4s', 'Most_6s'}

In [30]:
col_23.difference(col_21)

{'ClientPlayerID'}

In [32]:
df_08 = pd.read_csv('runs_wickets_per_season\\2008_batters.csv')

In [35]:
set(df_08.columns).difference(col_21)

set()

In [36]:
set(df_08.columns).difference(col_23)

{'Most_4s', 'Most_6s'}

In [38]:
df_21[['StrikerName','Fours','Sixes','Most_4s','Most_6s']]

         StrikerName  Fours  Sixes  Most_4s  Most_6s
0    Ruturaj Gaikwad     64     23       64       23
1     Faf du Plessis     60     23       60       23
2           KL Rahul     48     30       48       30
3     Shikhar Dhawan     63     16       63       16
4      Glenn Maxwell     48     21       48       21
..               ...    ...    ...      ...      ...
144       Anuj Rawat      0      0        0        0
145     Marco Jansen      0      0        0        0
146    Sarfaraz Khan      0      0        0        0
147    Jimmy Neesham      0      0        0        0
148  Prasidh Krishna      0      0        0        0

[149 rows x 5 columns]

In [44]:
dfs = {}
for year in range(2008,2024):
    df = pd.read_csv(f'runs_wickets_per_season\\{year}_batters.csv')
    if year in [2022,2023]:
        df.drop(columns=['ClientPlayerID'],inplace=True)
    else:
        df.drop(columns=['Most_4s','Most_6s'],inplace=True)
    dfs[year] = df
    print(f'{year} : {len(df.columns)}, {len(set(df.columns))}')

2008 : 41, 41
2009 : 41, 41
2010 : 41, 41
2011 : 41, 41
2012 : 41, 41
2013 : 41, 41
2014 : 41, 41
2015 : 41, 41
2016 : 41, 41
2017 : 41, 41
2018 : 41, 41
2019 : 41, 41
2020 : 41, 41
2021 : 41, 41
2022 : 41, 41
2023 : 41, 41

In [45]:
cols, year, flag = None, 2008, 0

for df in dfs.values():
    if cols is None:
        cols = sorted(df.columns)
    else:
        if cols != sorted(df.columns):
            print(year)
            flag = flag + 1
    year = year + 1

if flag == 0:
    print('All Dataframes have the same Columns')

All Dataframes have the same Columns

In [61]:
dfs[2023].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 166 entries, 0 to 165
Data columns (total 41 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   StrikerName        166 non-null    object
 1   PlayerId           166 non-null    int64
 2   Matches            166 non-null    int64
 3   PlayerDOB          166 non-null    object
 4   RightHandedBat     166 non-null    bool
 5   Nationality        166 non-null    object
 6   TCompetitionID     166 non-null    int64
 7   TStrikerID         166 non-null    object
 8   TTeamID            166 non-null    int64
 9   TeamCode           166 non-null    object
 10  TeamName           166 non-null    object
 11  CompetitionID      166 non-null    int64
 12  TeamID             166 non-null    int64
 13  StrikerID          166 non-null    object
 14  Innings            166 non-null    int64
 15  Extras             166 non-null    int64
 16  TotalRuns          166 non-null    int64
 17  Balls              166 non-null    int64
 18  Dotballs           166 non-null    int64
 19  StrikeRate         166 non-null    float64
 20  DBPercent          166 non-null    float64
 21  DBFreq             166 non-null    float64
 22  BdryFreq           166 non-null    float64
 23  BdryPercent        166 non-null    float64
 24  RPSS               166 non-null    float64
 25  ScoringBalls       166 non-null    int64
 26  Ones               166 non-null    int64
 27  Twos               166 non-null    int64
 28  Threes             166 non-null    int64
 29  Fours              166 non-null    int64
 30  Sixes              166 non-null    int64
 31  Outs               166 non-null    int64
 32  NotOuts            166 non-null    int64
 33  BattingAveragesss  114 non-null    float64
 34  FiftyPlusRuns      166 non-null    int64
 35  Centuries          166 non-null    int64
 36  DoubleCenturies    166 non-null    int64
 37  HighestScore       166 non-null    object
 38  BattingAverage     166 non-null    object
 39  Catches            166 non-null    int64
 40  Stumpings          166 non-null    int64
dtypes: bool(1), float64(7), int64(24), object(9)
memory usage: 52.2+ KB

In [63]:
temp_df = dfs[2023][['StrikerName','TotalRuns','Innings','Outs','BattingAveragesss','BattingAverage']]
temp_df

,StrikerName,TotalRuns,Innings,Outs,BattingAveragesss,BattingAverage
0,Shubman Gill,890,17,15,445.0,59.33
1,Faf Du Plessis,730,14,13,730.0,56.15
2,Devon Conway,672,15,13,336.0,51.69
3,Virat Kohli,639,14,12,319.5,53.25
4,Yashasvi Jaiswal,625,14,13,625.0,48.08
...,...,...,...,...,...,...
161,Mohammed Siraj,1,2,1,1.0,1.00
162,Yudhvir Singh,1,2,2,NaN,0.50
163,Fazalhaq Farooqi,1,1,0,1.0,-
164,Nathan Ellis,1,2,2,NaN,0.50
165,Varun Chakaravarthy,1,2,1,1.0,1.00

In [64]:
temp_df[temp_df['Outs'] == 0]

,StrikerName,TotalRuns,Innings,Outs,BattingAveragesss,BattingAverage
97,David Willey,35,3,0,11.66,-
109,Mayank Markande,21,3,0,7.00,-
118,Akeal Hosein,16,1,0,16.00,-
127,Kedar Jadhav,12,1,0,12.00,-
137,Mukesh Kumar,7,3,0,2.33,-
139,Alzarri Joseph,7,2,0,3.50,-
142,Jason Behrendorff,6,2,0,3.00,-
146,Jofra Archer,4,2,0,2.00,-
148,Vaibhav Arora,3,2,0,1.50,-
150,Arshdeep Singh,2,2,0,1.00,-
151,Mitchell Santner,2,2,0,1.00,-
152,Swapnil Singh,2,1,0,2.00,-
154,Sandeep Sharma,2,2,0,1.00,-
155,Mustafizur Rahman,1,1,0,1.00,-
156,Ishant Sharma,1,1,0,1.00,-
157,Abdul Basith,1,1,0,1.00,-
158,Deepak Chahar,1,1,0,1.00,-
159,Mohit Rathee,1,1,0,1.00,-
160,Josh Hazlewood,1,1,0,1.00,-
163,Fazalhaq Farooqi,1,1,0,1.00,-

In [69]:
dfs[2023][dfs[2023]['Stumpings'] == 3]

,StrikerName,PlayerId,Matches,PlayerDOB,RightHandedBat,Nationality,TCompetitionID,TStrikerID,TTeamID,TeamCode,...,Outs,NotOuts,BattingAveragesss,FiftyPlusRuns,Centuries,DoubleCenturies,HighestScore,BattingAverage,Catches,Stumpings
9,Ishan Kishan,164,15,0000-00-00,False,Indian,107,2019-100mb00000000164-8ae075db44ad11,17,MI,...,15,0,NaN,3,0,0,75,30.27,10,3
21,Sanju Samson,190,14,0000-00-00,True,Indian,107,2019-100mb00000000190-c62cbae544b711,18,RR,...,12,2,181.00,3,0,0,66*,30.17,3,3
23,Nicholas Pooran,136,15,0000-00-00,False,Overseas,107,2019-100mb00000000136-9313d156449c11,77,LSG,...,12,3,119.33,2,0,0,62,29.83,6,3
72,MS Dhoni,57,16,0000-00-00,True,Indian,107,2019-100mb00000000057-57100cf415ba11,13,CSK,...,4,8,13.00,0,0,0,32*,26.00,7,3

In [82]:
dfs[2023][dfs[2023]['PlayerId'] == 190]['StrikerName'].values[0]

'Sanju Samson'

In [104]:
dfs[2008].sort_values('StrikerName',ascending=True).tail(25)

,StrikerName,PlayerId,Matches,PlayerDOB,RightHandedBat,Nationality,TCompetitionID,TStrikerID,TTeamID,TeamCode,...,Outs,NotOuts,BattingAveragesss,FiftyPlusRuns,Centuries,DoubleCenturies,HighestScore,BattingAverage,Catches,Stumpings
121,Sunil Joshi,0,4,NaN,NaN,NaN,10000,NaN,NaN,RCB,...,2,0,3.00,0,0,NaN,3,3.00,NaN,NaN
125,Sunny Sohal,0,2,NaN,NaN,NaN,10000,NaN,NaN,PBKS,...,2,0,2.00,0,0,NaN,4,2.00,NaN,NaN
7,Suresh Raina,106,16,NaN,NaN,NaN,10000,NaN,NaN,CSK,...,11,3,38.27,3,0,NaN,55*,38.27,NaN,NaN
17,Swapnil Asnodkar,0,9,NaN,NaN,NaN,10000,NaN,NaN,RR,...,9,0,34.55,2,0,NaN,60,34.55,NaN,NaN
119,Tanmay Srivastava,0,5,NaN,NaN,NaN,10000,NaN,NaN,PBKS,...,1,1,8.00,0,0,NaN,7,8.00,NaN,NaN
116,Taruwar Kohli,0,2,NaN,NaN,NaN,10000,NaN,NaN,RR,...,2,0,5.00,0,0,NaN,7,5.00,NaN,NaN
89,Tatenda Taibu,0,3,NaN,NaN,NaN,10000,NaN,NaN,KKR,...,3,0,10.33,0,0,NaN,15,10.33,NaN,NaN
57,Tillakaratne Dilshan,484,7,NaN,NaN,NaN,10000,NaN,NaN,DC,...,6,1,17.33,0,0,NaN,33,17.33,NaN,NaN
79,Umar Gul,0,6,NaN,NaN,NaN,10000,NaN,NaN,KKR,...,3,1,13.00,0,0,NaN,24,13.00,NaN,NaN
41,VVS Laxman,0,6,NaN,NaN,NaN,10000,NaN,NaN,DEC,...,5,1,31.00,1,0,NaN,52,31.00,NaN,NaN
20,Venugopal Rao,0,11,NaN,NaN,NaN,10000,NaN,NaN,DEC,...,8,2,36.00,2,0,NaN,71*,36.00,NaN,NaN
45,Vidyut Sivaramakrishnan,0,9,NaN,NaN,NaN,10000,NaN,NaN,CSK,...,8,0,18.12,1,0,NaN,54,18.12,NaN,NaN
126,Vikram Singh,0,13,NaN,NaN,NaN,10000,NaN,NaN,PBKS,...,2,0,2.00,0,0,NaN,4,2.00,NaN,NaN
134,Vikrant Yeligati,0,2,NaN,NaN,NaN,10000,NaN,NaN,MI,...,1,0,2.00,0,0,NaN,2,2.00,NaN,NaN
97,Vinay Kumar,0,8,NaN,NaN,NaN,10000,NaN,NaN,RCB,...,3,1,8.33,0,0,NaN,23,8.33,NaN,NaN
37,Virat Kohli,2,13,NaN,NaN,NaN,10000,NaN,NaN,RCB,...,11,1,15.00,0,0,NaN,38,15.00,NaN,NaN
9,Virender Sehwag,461,14,NaN,NaN,NaN,10000,NaN,NaN,DC,...,12,2,33.83,3,0,NaN,94*,33.83,NaN,NaN
52,Wasim Jaffer,0,6,NaN,NaN,NaN,10000,NaN,NaN,RCB,...,6,0,19.16,1,0,NaN,50,19.16,NaN,NaN
95,Wilkin Mota,0,4,NaN,NaN,NaN,10000,NaN,NaN,PBKS,...,1,1,26.00,0,0,NaN,25,26.00,NaN,NaN
40,Wriddhiman Saha,225,12,NaN,NaN,NaN,10000,NaN,NaN,KKR,...,5,5,31.80,1,0,NaN,59*,31.80,NaN,NaN
109,Yo Mahesh,0,11,NaN,NaN,NaN,10000,NaN,NaN,DC,...,2,3,7.50,0,0,NaN,6*,7.50,NaN,NaN
128,Younis Khan,0,1,NaN,NaN,NaN,10000,NaN,NaN,RR,...,1,0,3.00,0,0,NaN,3,3.00,NaN,NaN
6,Yusuf Pathan,226,16,NaN,NaN,NaN,10000,NaN,NaN,RR,...,14,1,31.07,4,0,NaN,68,31.07,NaN,NaN
19,Yuvraj Singh,175,15,NaN,NaN,NaN,10000,NaN,NaN,PBKS,...,13,1,23.00,1,0,NaN,57,23.00,NaN,NaN
87,Zaheer Khan,462,11,NaN,NaN,NaN,10000,NaN,NaN,RCB,...,4,4,8.50,0,0,NaN,17*,8.50,NaN,NaN

In [101]:
for df in dfs.values():
    try:
        temp_df = df[df['PlayerId'] == 17]
        name = temp_df['StrikerName'].values[0]
        print(name)
    except:
        print('Player does not exist')

Player does not exist
Player does not exist
Player does not exist
Player does not exist
Player does not exist
Player does not exist
Player does not exist
Player does not exist
Player does not exist
Krunal Pandya
Krunal Pandya
Krunal Pandya
Krunal Pandya
Krunal Pandya
Krunal Pandya
Krunal Pandya

In [106]:
!pip install beautifulsoup4
!pip install google

Requirement already satisfied: beautifulsoup4 in d:\anaconda\lib\site-packages (4.11.1)
Requirement already satisfied: soupsieve>1.2 in d:\anaconda\lib\site-packages (from beautifulsoup4) (2.3.2.post1)
Collecting google
  Downloading google-3.0.0-py2.py3-none-any.whl (45 kB)
     -------------------------------------- 45.3/45.3 kB 321.3 kB/s eta 0:00:00
Requirement already satisfied: beautifulsoup4 in d:\anaconda\lib\site-packages (from google) (4.11.1)
Requirement already satisfied: soupsieve>1.2 in d:\anaconda\lib\site-packages (from beautifulsoup4->google) (2.3.2.post1)
Installing collected packages: google
Successfully installed google-3.0.0

In [108]:
from bs4 import BeautifulSoup
from googlesearch import search

In [119]:
def googler(query):
    for url in search(query,num=10):
        if 'www.espncricinfo.com' in url:
            return url

In [138]:
espn_url = googler('Yo Mahesh')

In [139]:
print(espn_url)

https://www.espncricinfo.com/cricketers/yo-mahesh-31732

In [140]:
import requests

In [141]:
response = requests.get(espn_url)

In [142]:
soup = BeautifulSoup(response.content,'lxml')

In [143]:
for data in soup.find_all('span',class_='ds-text-comfortable-s'):
    print(data.text)

India
Allrounder

In [152]:
count = 0
lst = {}
temp_lst = []
for data in soup.find('div',class_='ds-grid lg:ds-grid-cols-3 ds-grid-cols-2 ds-gap-4 ds-mb-8').find_all('p'):
    count = count + 1
    temp_lst.append(data.text)
    if count == 2:
        lst[temp_lst[0]] = temp_lst[1]
        count = 0
        temp_lst = []
print(lst)

{'Full Name': 'Vijaykumar Yo Mahesh', 'Born': 'December 21, 1987, Madras (now Chennai), Tamil Nadu', 'Age': '35y 219d', 'Batting Style': 'Right hand Bat', 'Bowling Style': 'Right arm Medium fast', 'Playing Role': 'Allrounder'}

In [131]:
df_08 = dfs[2008]

In [137]:
for name in df_08['StrikerName']:
    espn_url = googler(name)
    response = requests.get(espn_url)
    soup = BeautifulSoup(response.content,'lxml')
    nation = soup.find('span',class_='ds-text-comfortable-s').text
    
    print(f'{name} : {nation}')

Shaun Marsh : Australia
Gautam Gambhir : India
Sanath Jayasuriya : Sri Lanka
Shane Watson : Australia
Graeme Smith : South Africa
Adam Gilchrist : Australia
Yusuf Pathan : India
Suresh Raina : India
MS Dhoni : India
Virender Sehwag : India
Rohit Sharma : India
Rahul Dravid : India
Sourav Ganguly : India
Shikhar Dhawan : India
Kumar Sangakkara : Sri Lanka
Robin Uthappa : India
David Hussey : Australia
Swapnil Asnodkar : India
Parthiv Patel : India
Yuvraj Singh : India
Venugopal Rao : India
Albie Morkel : South Africa
Mark Boucher : South Africa
James Hopes : Australia
Abhishek Nayar : India
Jacques Kallis : South Africa
Stephen Fleming : New Zealand
Salman Butt : Pakistan
Subramaniam Badrinath : India
Matthew Hayden : Australia
Brendon McCullum : New Zealand
Sachin Tendulkar : India
Mahela Jayawardena : Sri Lanka
Dwayne Bravo : West Indies
Mohammad Kaif : India
Michael Hussey : Australia
Herschelle Gibbs : South Africa
Virat Kohli : India
Laxmi Ratan Shukla : India
Andrew Symonds : Australia
Wriddhiman Saha : India
VVS Laxman : India
Luke Pomersbach : Australia
Ross Taylor : New Zealand
Shaun Pollock : South Africa
Vidyut Sivaramakrishnan : India
Dinesh Karthik : India
Ravindra Jadeja : India
Irfan Pathan : India
Kamran Akmal : Pakistan
MF Maharoof : Sri Lanka
Misbah-ul-Haq : Pakistan
Wasim Jaffer : India
Cameron White : Australia
Scott Styris : New Zealand
Praveen Kumar : India
Dwaraka Ravi Teja : India
Tillakaratne Dilshan : Sri Lanka
Manoj Tiwary : India
Niraj Patel : India
Debabrata Das : India
Simon Katich : Australia
AB de Villiers : South Africa
Piyush Chawla : India
Shreevats Goswami : India
Shahid Afridi : Pakistan
Karan Goel : India
Ramnaresh Sarwan : West Indies
Shane Warne : Australia
Ajit Agarkar : India
Shoaib Malik : Pakistan
Arjun Yadav : India
Sanjay Bangar : India
Balachandra Akhil : India
Dwayne Smith : West Indies
Aakash Chopra : India
LPC Silva : Sri Lanka
Ricky Ponting : Australia
Dominic Thornely : Australia
Umar Gul : Pakistan
Amit Mishra : India
Sohail Tanvir : Pakistan
Manpreet Gony : India
Luke Ronchi : New Zealand
Pinal Shah : India
Rajat Bhatia : India
Mahesh Rawat : India
Zaheer Khan : India
Dinesh Salunkhe : India
Tatenda Taibu : Zimbabwe
Harbhajan Singh : India
Murali Kartik : India
Ramesh Powar : India
RP Singh : India
Saurabh Tiwary : India
Wilkin Mota : India
Shivnarine Chanderpaul : West Indies
Vinay Kumar : India
Musavir Khote : India
Jagadeesh Arunkumar : India
Chaminda Vaas : Sri Lanka
Bharat Chipli : India
Mohammad Hafeez : Pakistan
Darren Lehmann : Australia
Siddharth Chitnis : India
Jacob Oram : New Zealand
Brett Lee : Australia
Chamara Kapugedera : Sri Lanka
Joginder Sharma : India
Yo Mahesh : India
Devraj Patil : India
Anil Kumble : India
Brad Hodge : Australia
Nuwan Zoysa : Sri Lanka
Makhaya Ntini : South Africa
Ishant Sharma : India
Taruwar Kohli : India
Ashley Noffke : Australia
Dimitri Mascarenhas : England
Tanmay Srivastava : India
Rohan Raje : India
Sunil Joshi : India
Pankaj Singh : India
Siddharth Trivedi : India
Ajinkya Rahane : India
Sunny Sohal : U.S.A.
Vikram Singh : India
Glenn McGrath : Australia
Younis Khan : Pakistan
Doddapaneni Kalyankrishna : India
Manish Pandey : India
Mohammad Asif : Pakistan
Ashish Nehra : India
Halhadar Das : India
Vikrant Yeligati : India
Shoaib Akhtar : Pakistan
Dilhara Fernando : Sri Lanka
Pradeep Sangwan : India
Dale Steyn : South Africa
Dhawal Kulkarni : India
Ashok Dinda : India
Pragyan Ojha : India
Iqbal Abdulla : India
Srikkanth Anirudha : India
PM Sarvesh Kumar : India
Paidikalva Vijaykumar : India
Abdur Razzak : Bangladesh
Abhinav Mukund : India
Lakshmipathy Balaji : India
Munaf Patel : India