In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
for year in range(2008,2024):
    df = pd.read_csv(f'runs_wickets_per_season\\{year}_batters.csv')
    print(f'{year} : {len(df.columns)}, {len(set(df.columns))}')

2008 : 43, 43
2009 : 43, 43
2010 : 43, 43
2011 : 43, 43
2012 : 43, 43
2013 : 43, 43
2014 : 43, 43
2015 : 43, 43
2016 : 43, 43
2017 : 43, 43
2018 : 43, 43
2019 : 43, 43
2020 : 43, 43
2021 : 43, 43
2022 : 42, 42
2023 : 42, 42

In [3]:
df_21 = pd.read_csv('runs_wickets_per_season\\2021_batters.csv')
df_23 = pd.read_csv('runs_wickets_per_season\\2023_batters.csv')

In [4]:
df_21.head()

,StrikerName,PlayerId,Matches,PlayerDOB,RightHandedBat,Nationality,TCompetitionID,TStrikerID,TTeamID,TeamCode,...,Outs,NotOuts,BattingAveragesss,FiftyPlusRuns,Centuries,DoubleCenturies,HighestScore,BattingAverage,Catches,Stumpings
0,Ruturaj Gaikwad,102,16,NaN,NaN,NaN,10013,NaN,NaN,CSK,...,14,2,45.35,4,1,NaN,101*,45.35,NaN,NaN
1,Faf du Plessis,94,16,NaN,NaN,NaN,10013,NaN,NaN,CSK,...,14,2,45.21,6,0,NaN,95*,45.21,NaN,NaN
2,KL Rahul,19,13,NaN,NaN,NaN,10013,NaN,NaN,PBKS,...,10,3,62.60,6,0,NaN,98*,62.60,NaN,NaN
3,Shikhar Dhawan,11,16,NaN,NaN,NaN,10013,NaN,NaN,DC,...,15,1,39.13,3,0,NaN,92,39.13,NaN,NaN
4,Glenn Maxwell,28,15,NaN,NaN,NaN,10013,NaN,NaN,RCB,...,12,2,42.75,6,0,NaN,78,42.75,NaN,NaN

In [5]:
df_23.head()

,StrikerName,PlayerId,Matches,PlayerDOB,RightHandedBat,Nationality,TCompetitionID,TStrikerID,TTeamID,TeamCode,...,NotOuts,BattingAveragesss,FiftyPlusRuns,Centuries,DoubleCenturies,HighestScore,BattingAverage,Catches,Stumpings,ClientPlayerID
0,Shubman Gill,62,17,0000-00-00,True,Indian,107,2019-100mb00000000062-8fa4884a17f311,35,GT,...,2,445.0,4,3,0,129,59.33,6,0,3761.0
1,Faf Du Plessis,94,14,0000-00-00,True,Overseas,107,2019-100mb00000000094-1e8fa14543ee11,19,RCB,...,1,730.0,8,0,0,84,56.15,3,0,24.0
2,Devon Conway,601,16,0000-00-00,False,Overseas,107,2021-100mb00000000601-517399b0ceaf11,13,CSK,...,2,336.0,6,0,0,92*,51.69,6,0,20572.0
3,Virat Kohli,2,14,0000-00-00,True,Indian,107,2018-wicb00000000002-47ea5a6ae99a11,19,RCB,...,2,319.5,6,2,0,101*,53.25,13,0,164.0
4,Yashasvi Jaiswal,533,14,0000-00-00,False,Indian,107,2020-100mb00000000533-e895f279639811,18,RR,...,1,625.0,5,1,0,124,48.08,8,0,13538.0

In [6]:
df_21.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 43 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   StrikerName        149 non-null    object
 1   PlayerId           149 non-null    int64
 2   Matches            149 non-null    int64
 3   PlayerDOB          0 non-null      float64
 4   RightHandedBat     0 non-null      float64
 5   Nationality        0 non-null      float64
 6   TCompetitionID     149 non-null    int64
 7   TStrikerID         0 non-null      float64
 8   TTeamID            0 non-null      float64
 9   TeamCode           149 non-null    object
 10  TeamName           149 non-null    object
 11  CompetitionID      149 non-null    int64
 12  TeamID             0 non-null      float64
 13  StrikerID          0 non-null      float64
 14  Innings            149 non-null    int64
 15  Extras             0 non-null      float64
 16  TotalRuns          149 non-null    int64
 17  Balls              149 non-null    int64
 18  Dotballs           0 non-null      float64
 19  StrikeRate         149 non-null    float64
 20  DBPercent          0 non-null      float64
 21  DBFreq             0 non-null      float64
 22  BdryFreq           0 non-null      float64
 23  BdryPercent        0 non-null      float64
 24  RPSS               0 non-null      float64
 25  ScoringBalls       0 non-null      float64
 26  Ones               0 non-null      float64
 27  Twos               0 non-null      float64
 28  Threes             0 non-null      float64
 29  Fours              149 non-null    int64
 30  Sixes              149 non-null    int64
 31  Most_4s            149 non-null    int64
 32  Most_6s            149 non-null    int64
 33  Outs               149 non-null    int64
 34  NotOuts            149 non-null    int64
 35  BattingAveragesss  149 non-null    float64
 36  FiftyPlusRuns      149 non-null    int64
 37  Centuries          149 non-null    int64
 38  DoubleCenturies    0 non-null      float64
 39  HighestScore       149 non-null    object
 40  BattingAverage     149 non-null    float64
 41  Catches            0 non-null      float64
 42  Stumpings          0 non-null      float64
dtypes: float64(24), int64(15), object(4)
memory usage: 50.2+ KB

In [7]:
df_23.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 166 entries, 0 to 165
Data columns (total 42 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   StrikerName        166 non-null    object
 1   PlayerId           166 non-null    int64
 2   Matches            166 non-null    int64
 3   PlayerDOB          166 non-null    object
 4   RightHandedBat     166 non-null    bool
 5   Nationality        166 non-null    object
 6   TCompetitionID     166 non-null    int64
 7   TStrikerID         166 non-null    object
 8   TTeamID            166 non-null    int64
 9   TeamCode           166 non-null    object
 10  TeamName           166 non-null    object
 11  CompetitionID      166 non-null    int64
 12  TeamID             166 non-null    int64
 13  StrikerID          166 non-null    object
 14  Innings            166 non-null    int64
 15  Extras             166 non-null    int64
 16  TotalRuns          166 non-null    int64
 17  Balls              166 non-null    int64
 18  Dotballs           166 non-null    int64
 19  StrikeRate         166 non-null    float64
 20  DBPercent          166 non-null    float64
 21  DBFreq             166 non-null    float64
 22  BdryFreq           166 non-null    float64
 23  BdryPercent        166 non-null    float64
 24  RPSS               166 non-null    float64
 25  ScoringBalls       166 non-null    int64
 26  Ones               166 non-null    int64
 27  Twos               166 non-null    int64
 28  Threes             166 non-null    int64
 29  Fours              166 non-null    int64
 30  Sixes              166 non-null    int64
 31  Outs               166 non-null    int64
 32  NotOuts            166 non-null    int64
 33  BattingAveragesss  114 non-null    float64
 34  FiftyPlusRuns      166 non-null    int64
 35  Centuries          166 non-null    int64
 36  DoubleCenturies    166 non-null    int64
 37  HighestScore       166 non-null    object
 38  BattingAverage     166 non-null    object
 39  Catches            166 non-null    int64
 40  Stumpings          166 non-null    int64
 41  ClientPlayerID     163 non-null    float64
dtypes: bool(1), float64(8), int64(24), object(9)
memory usage: 53.5+ KB

In [8]:
df_21.shape

(149, 43)

In [9]:
df_23.shape

(166, 42)

In [10]:
col_21 = set(df_21.columns)
col_23 = set(df_23.columns)
len(col_21.intersection(col_23))

41

In [11]:
col_21.difference(col_23)

{'Most_4s', 'Most_6s'}

In [12]:
col_23.difference(col_21)

{'ClientPlayerID'}

In [13]:
df_08 = pd.read_csv('runs_wickets_per_season\\2008_batters.csv')

In [14]:
set(df_08.columns).difference(col_21)

set()

In [15]:
set(df_08.columns).difference(col_23)

{'Most_4s', 'Most_6s'}

In [16]:
df_21[['StrikerName','Fours','Sixes','Most_4s','Most_6s']]

         StrikerName  Fours  Sixes  Most_4s  Most_6s
0    Ruturaj Gaikwad     64     23       64       23
1     Faf du Plessis     60     23       60       23
2           KL Rahul     48     30       48       30
3     Shikhar Dhawan     63     16       63       16
4      Glenn Maxwell     48     21       48       21
..               ...    ...    ...      ...      ...
144       Anuj Rawat      0      0        0        0
145     Marco Jansen      0      0        0        0
146    Sarfaraz Khan      0      0        0        0
147    Jimmy Neesham      0      0        0        0
148  Prasidh Krishna      0      0        0        0

[149 rows x 5 columns]

In [17]:
dfs = {}
for year in range(2008,2024):
    df = pd.read_csv(f'runs_wickets_per_season\\{year}_batters.csv')
    if year in [2022,2023]:
        df.drop(columns=['ClientPlayerID'],inplace=True)
    else:
        df.drop(columns=['Most_4s','Most_6s'],inplace=True)
    dfs[year] = df
    print(f'{year} : {len(df.columns)}, {len(set(df.columns))}')

2008 : 41, 41
2009 : 41, 41
2010 : 41, 41
2011 : 41, 41
2012 : 41, 41
2013 : 41, 41
2014 : 41, 41
2015 : 41, 41
2016 : 41, 41
2017 : 41, 41
2018 : 41, 41
2019 : 41, 41
2020 : 41, 41
2021 : 41, 41
2022 : 41, 41
2023 : 41, 41

In [18]:
cols, year, flag = None, 2008, 0

for df in dfs.values():
    if cols is None:
        cols = sorted(df.columns)
    else:
        if cols != sorted(df.columns):
            print(year)
            flag = flag + 1
    year = year + 1

if flag == 0:
    print('All Dataframes have the same Columns')

All Dataframes have the same Columns

In [19]:
dfs[2023].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 166 entries, 0 to 165
Data columns (total 41 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   StrikerName        166 non-null    object
 1   PlayerId           166 non-null    int64
 2   Matches            166 non-null    int64
 3   PlayerDOB          166 non-null    object
 4   RightHandedBat     166 non-null    bool
 5   Nationality        166 non-null    object
 6   TCompetitionID     166 non-null    int64
 7   TStrikerID         166 non-null    object
 8   TTeamID            166 non-null    int64
 9   TeamCode           166 non-null    object
 10  TeamName           166 non-null    object
 11  CompetitionID      166 non-null    int64
 12  TeamID             166 non-null    int64
 13  StrikerID          166 non-null    object
 14  Innings            166 non-null    int64
 15  Extras             166 non-null    int64
 16  TotalRuns          166 non-null    int64
 17  Balls              166 non-null    int64
 18  Dotballs           166 non-null    int64
 19  StrikeRate         166 non-null    float64
 20  DBPercent          166 non-null    float64
 21  DBFreq             166 non-null    float64
 22  BdryFreq           166 non-null    float64
 23  BdryPercent        166 non-null    float64
 24  RPSS               166 non-null    float64
 25  ScoringBalls       166 non-null    int64
 26  Ones               166 non-null    int64
 27  Twos               166 non-null    int64
 28  Threes             166 non-null    int64
 29  Fours              166 non-null    int64
 30  Sixes              166 non-null    int64
 31  Outs               166 non-null    int64
 32  NotOuts            166 non-null    int64
 33  BattingAveragesss  114 non-null    float64
 34  FiftyPlusRuns      166 non-null    int64
 35  Centuries          166 non-null    int64
 36  DoubleCenturies    166 non-null    int64
 37  HighestScore       166 non-null    object
 38  BattingAverage     166 non-null    object
 39  Catches            166 non-null    int64
 40  Stumpings          166 non-null    int64
dtypes: bool(1), float64(7), int64(24), object(9)
memory usage: 52.2+ KB

In [20]:
temp_df = dfs[2023][['StrikerName','TotalRuns','Innings','Outs','BattingAveragesss','BattingAverage']]
temp_df

,StrikerName,TotalRuns,Innings,Outs,BattingAveragesss,BattingAverage
0,Shubman Gill,890,17,15,445.0,59.33
1,Faf Du Plessis,730,14,13,730.0,56.15
2,Devon Conway,672,15,13,336.0,51.69
3,Virat Kohli,639,14,12,319.5,53.25
4,Yashasvi Jaiswal,625,14,13,625.0,48.08
...,...,...,...,...,...,...
161,Mohammed Siraj,1,2,1,1.0,1.00
162,Yudhvir Singh,1,2,2,NaN,0.50
163,Fazalhaq Farooqi,1,1,0,1.0,-
164,Nathan Ellis,1,2,2,NaN,0.50
165,Varun Chakaravarthy,1,2,1,1.0,1.00

In [21]:
temp_df[temp_df['Outs'] == 0]

,StrikerName,TotalRuns,Innings,Outs,BattingAveragesss,BattingAverage
97,David Willey,35,3,0,11.66,-
109,Mayank Markande,21,3,0,7.00,-
118,Akeal Hosein,16,1,0,16.00,-
127,Kedar Jadhav,12,1,0,12.00,-
137,Mukesh Kumar,7,3,0,2.33,-
139,Alzarri Joseph,7,2,0,3.50,-
142,Jason Behrendorff,6,2,0,3.00,-
146,Jofra Archer,4,2,0,2.00,-
148,Vaibhav Arora,3,2,0,1.50,-
150,Arshdeep Singh,2,2,0,1.00,-
151,Mitchell Santner,2,2,0,1.00,-
152,Swapnil Singh,2,1,0,2.00,-
154,Sandeep Sharma,2,2,0,1.00,-
155,Mustafizur Rahman,1,1,0,1.00,-
156,Ishant Sharma,1,1,0,1.00,-
157,Abdul Basith,1,1,0,1.00,-
158,Deepak Chahar,1,1,0,1.00,-
159,Mohit Rathee,1,1,0,1.00,-
160,Josh Hazlewood,1,1,0,1.00,-
163,Fazalhaq Farooqi,1,1,0,1.00,-

In [22]:
dfs[2023][dfs[2023]['Stumpings'] == 3]

,StrikerName,PlayerId,Matches,PlayerDOB,RightHandedBat,Nationality,TCompetitionID,TStrikerID,TTeamID,TeamCode,...,Outs,NotOuts,BattingAveragesss,FiftyPlusRuns,Centuries,DoubleCenturies,HighestScore,BattingAverage,Catches,Stumpings
9,Ishan Kishan,164,15,0000-00-00,False,Indian,107,2019-100mb00000000164-8ae075db44ad11,17,MI,...,15,0,NaN,3,0,0,75,30.27,10,3
21,Sanju Samson,190,14,0000-00-00,True,Indian,107,2019-100mb00000000190-c62cbae544b711,18,RR,...,12,2,181.00,3,0,0,66*,30.17,3,3
23,Nicholas Pooran,136,15,0000-00-00,False,Overseas,107,2019-100mb00000000136-9313d156449c11,77,LSG,...,12,3,119.33,2,0,0,62,29.83,6,3
72,MS Dhoni,57,16,0000-00-00,True,Indian,107,2019-100mb00000000057-57100cf415ba11,13,CSK,...,4,8,13.00,0,0,0,32*,26.00,7,3

In [23]:
dfs[2023][dfs[2023]['PlayerId'] == 190]['StrikerName'].values[0]

'Sanju Samson'

In [24]:
dfs[2008].sort_values('StrikerName',ascending=True).tail(25)

,StrikerName,PlayerId,Matches,PlayerDOB,RightHandedBat,Nationality,TCompetitionID,TStrikerID,TTeamID,TeamCode,...,Outs,NotOuts,BattingAveragesss,FiftyPlusRuns,Centuries,DoubleCenturies,HighestScore,BattingAverage,Catches,Stumpings
121,Sunil Joshi,0,4,NaN,NaN,NaN,10000,NaN,NaN,RCB,...,2,0,3.00,0,0,NaN,3,3.00,NaN,NaN
125,Sunny Sohal,0,2,NaN,NaN,NaN,10000,NaN,NaN,PBKS,...,2,0,2.00,0,0,NaN,4,2.00,NaN,NaN
7,Suresh Raina,106,16,NaN,NaN,NaN,10000,NaN,NaN,CSK,...,11,3,38.27,3,0,NaN,55*,38.27,NaN,NaN
17,Swapnil Asnodkar,0,9,NaN,NaN,NaN,10000,NaN,NaN,RR,...,9,0,34.55,2,0,NaN,60,34.55,NaN,NaN
119,Tanmay Srivastava,0,5,NaN,NaN,NaN,10000,NaN,NaN,PBKS,...,1,1,8.00,0,0,NaN,7,8.00,NaN,NaN
116,Taruwar Kohli,0,2,NaN,NaN,NaN,10000,NaN,NaN,RR,...,2,0,5.00,0,0,NaN,7,5.00,NaN,NaN
89,Tatenda Taibu,0,3,NaN,NaN,NaN,10000,NaN,NaN,KKR,...,3,0,10.33,0,0,NaN,15,10.33,NaN,NaN
57,Tillakaratne Dilshan,484,7,NaN,NaN,NaN,10000,NaN,NaN,DC,...,6,1,17.33,0,0,NaN,33,17.33,NaN,NaN
79,Umar Gul,0,6,NaN,NaN,NaN,10000,NaN,NaN,KKR,...,3,1,13.00,0,0,NaN,24,13.00,NaN,NaN
41,VVS Laxman,0,6,NaN,NaN,NaN,10000,NaN,NaN,DEC,...,5,1,31.00,1,0,NaN,52,31.00,NaN,NaN
20,Venugopal Rao,0,11,NaN,NaN,NaN,10000,NaN,NaN,DEC,...,8,2,36.00,2,0,NaN,71*,36.00,NaN,NaN
45,Vidyut Sivaramakrishnan,0,9,NaN,NaN,NaN,10000,NaN,NaN,CSK,...,8,0,18.12,1,0,NaN,54,18.12,NaN,NaN
126,Vikram Singh,0,13,NaN,NaN,NaN,10000,NaN,NaN,PBKS,...,2,0,2.00,0,0,NaN,4,2.00,NaN,NaN
134,Vikrant Yeligati,0,2,NaN,NaN,NaN,10000,NaN,NaN,MI,...,1,0,2.00,0,0,NaN,2,2.00,NaN,NaN
97,Vinay Kumar,0,8,NaN,NaN,NaN,10000,NaN,NaN,RCB,...,3,1,8.33,0,0,NaN,23,8.33,NaN,NaN
37,Virat Kohli,2,13,NaN,NaN,NaN,10000,NaN,NaN,RCB,...,11,1,15.00,0,0,NaN,38,15.00,NaN,NaN
9,Virender Sehwag,461,14,NaN,NaN,NaN,10000,NaN,NaN,DC,...,12,2,33.83,3,0,NaN,94*,33.83,NaN,NaN
52,Wasim Jaffer,0,6,NaN,NaN,NaN,10000,NaN,NaN,RCB,...,6,0,19.16,1,0,NaN,50,19.16,NaN,NaN
95,Wilkin Mota,0,4,NaN,NaN,NaN,10000,NaN,NaN,PBKS,...,1,1,26.00,0,0,NaN,25,26.00,NaN,NaN
40,Wriddhiman Saha,225,12,NaN,NaN,NaN,10000,NaN,NaN,KKR,...,5,5,31.80,1,0,NaN,59*,31.80,NaN,NaN
109,Yo Mahesh,0,11,NaN,NaN,NaN,10000,NaN,NaN,DC,...,2,3,7.50,0,0,NaN,6*,7.50,NaN,NaN
128,Younis Khan,0,1,NaN,NaN,NaN,10000,NaN,NaN,RR,...,1,0,3.00,0,0,NaN,3,3.00,NaN,NaN
6,Yusuf Pathan,226,16,NaN,NaN,NaN,10000,NaN,NaN,RR,...,14,1,31.07,4,0,NaN,68,31.07,NaN,NaN
19,Yuvraj Singh,175,15,NaN,NaN,NaN,10000,NaN,NaN,PBKS,...,13,1,23.00,1,0,NaN,57,23.00,NaN,NaN
87,Zaheer Khan,462,11,NaN,NaN,NaN,10000,NaN,NaN,RCB,...,4,4,8.50,0,0,NaN,17*,8.50,NaN,NaN

In [25]:
for df in dfs.values():
    try:
        temp_df = df[df['PlayerId'] == 17]
        name = temp_df['StrikerName'].values[0]
        print(name)
    except:
        print('Player does not exist')

Player does not exist
Player does not exist
Player does not exist
Player does not exist
Player does not exist
Player does not exist
Player does not exist
Player does not exist
Player does not exist
Krunal Pandya
Krunal Pandya
Krunal Pandya
Krunal Pandya
Krunal Pandya
Krunal Pandya
Krunal Pandya

In [26]:
!pip install beautifulsoup4
!pip install google

Requirement already satisfied: beautifulsoup4 in d:\anaconda\lib\site-packages (4.11.1)
Requirement already satisfied: soupsieve>1.2 in d:\anaconda\lib\site-packages (from beautifulsoup4) (2.3.2.post1)
Requirement already satisfied: google in d:\anaconda\lib\site-packages (3.0.0)
Requirement already satisfied: beautifulsoup4 in d:\anaconda\lib\site-packages (from google) (4.11.1)
Requirement already satisfied: soupsieve>1.2 in d:\anaconda\lib\site-packages (from beautifulsoup4->google) (2.3.2.post1)

In [27]:
from bs4 import BeautifulSoup
from googlesearch import search

In [28]:
import requests
import json

In [29]:
def googler(query):
    for url in search(query,num=10):
        if 'https://www.espncricinfo.com/cricketers' in url:
            return url

In [30]:
query = 'Shaun Marsh'

In [31]:
for url in search(query,num=10):
    if 'www.espncricinfo.com' in url:
        print(url)

https://www.espncricinfo.com/cricketers/shaun-marsh-6683
https://www.espncricinfo.com/cricketers/shaun-marsh-6683/matches
https://www.espncricinfo.com/cricketers/shaun-marsh-6683/bowling-batting-stats
https://www.espncricinfo.com/cricketers/shaun-marsh-6683/photos
https://www.espncricinfo.com/cricketers/shaun-marsh-6683/tests-odi-t20-records

In [32]:
espn_url = googler('Shaun Marsh')
espn_url

'https://www.espncricinfo.com/cricketers/shaun-marsh-6683'

In [33]:
espn_url.split('-')[-1]

'6683'

In [34]:
player_id = ""
for character in espn_url.split('-')[-1]:
    if character in '1234567890':
        player_id = player_id + character
    else:
        break
print(player_id)

6683

In [35]:
def get_player_id(s):
    player_id = ""
    for character in s.split('-')[-1]:
        if character in '1234567890':
            player_id = player_id + character
        else:
            break
    return player_id

In [36]:
player_id = get_player_id(espn_url)
player_id

'6683'

In [37]:
url = 'https://hs-consumer-api.espncricinfo.com/v1/pages/player/home?playerId='+player_id

In [38]:
url

'https://hs-consumer-api.espncricinfo.com/v1/pages/player/home?playerId=6683'

In [39]:
response = requests.get('https://hs-consumer-api.espncricinfo.com/v1/pages/player/home?playerId='+'35320')

In [40]:
response.status_code

200

In [41]:
response = requests.get(url)

In [42]:
player_dict = json.loads(response.content.decode())

In [43]:
player_dict['player']['dateOfBirth']

{'year': 1983, 'month': 7, 'date': 9}

In [44]:
player_dict['player']['battingStyles'][0]

'lhb'

In [45]:
player_dict['player']['country']['name']

'Australia'

In [46]:
# soup = BeautifulSoup(response.content,'lxml')

In [47]:
# soup.find('span',class_='ds-text-comfortable-s')

In [48]:
# for data in soup.find_all('div',class_='ds-pl-3'):
#     print(data.text)

In [49]:
# def get_data(soup_obj):
#     count = 0
#     lst = {}
#     temp_lst = []
#     for data in soup_obj.find('div',class_='ds-grid lg:ds-grid-cols-3 ds-grid-cols-2 ds-gap-4 ds-mb-8').find_all('p'):
#         count = count + 1
#         temp_lst.append(data.text)
#         if count == 2:
#             lst[temp_lst[0]] = temp_lst[1]
#             count = 0
#             temp_lst = []
#     return lst

In [50]:
#get_data(soup)

In [51]:
df_08 = dfs[2008]

In [52]:
row = df_08[df_08['StrikerName']=='Shaun Marsh'].index.values[0]

In [53]:
df_08.at[row,'TCompetitionID'] = 1

In [54]:
df_08

,StrikerName,PlayerId,Matches,PlayerDOB,RightHandedBat,Nationality,TCompetitionID,TStrikerID,TTeamID,TeamCode,...,Outs,NotOuts,BattingAveragesss,FiftyPlusRuns,Centuries,DoubleCenturies,HighestScore,BattingAverage,Catches,Stumpings
0,Shaun Marsh,41,11,NaN,NaN,NaN,1,NaN,NaN,PBKS,...,9,2,68.44,5,1,NaN,115,68.44,NaN,NaN
1,Gautam Gambhir,0,14,NaN,NaN,NaN,10000,NaN,NaN,DC,...,13,1,41.07,5,0,NaN,86,41.07,NaN,NaN
2,Sanath Jayasuriya,0,14,NaN,NaN,NaN,10000,NaN,NaN,MI,...,12,2,43.16,2,1,NaN,114*,43.16,NaN,NaN
3,Shane Watson,104,15,NaN,NaN,NaN,10000,NaN,NaN,RR,...,10,5,47.20,4,0,NaN,76*,47.20,NaN,NaN
4,Graeme Smith,0,11,NaN,NaN,NaN,10000,NaN,NaN,RR,...,9,2,49.00,3,0,NaN,91,49.00,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,Paidikalva Vijaykumar,0,9,NaN,NaN,NaN,10000,NaN,NaN,DEC,...,0,2,0.00,0,0,NaN,1*,0.00,NaN,NaN
146,Abdur Razzak,0,1,NaN,NaN,NaN,10000,NaN,NaN,RCB,...,0,1,0.00,0,0,NaN,0*,0.00,NaN,NaN
147,Abhinav Mukund,0,2,NaN,NaN,NaN,10000,NaN,NaN,CSK,...,1,0,0.00,0,0,NaN,0*,0.00,NaN,NaN
148,Lakshmipathy Balaji,0,9,NaN,NaN,NaN,10000,NaN,NaN,CSK,...,1,0,0.00,0,0,NaN,0*,0.00,NaN,NaN
149,Munaf Patel,460,15,NaN,NaN,NaN,10000,NaN,NaN,RR,...,0,2,0.00,0,0,NaN,0*,0.00,NaN,NaN

In [55]:
# for df in dfs.values():
#     for name in df['StrikerName']:
#         espn_url = googler(name)
#         response = requests.get(espn_url)
#         soup = BeautifulSoup(response.content,'lxml')
#         nation = soup.find('span',class_='ds-text-comfortable-s').text
#         print(f'{name} : {nation}')

In [56]:
df_08.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 41 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   StrikerName        150 non-null    object
 1   PlayerId           150 non-null    int64
 2   Matches            150 non-null    int64
 3   PlayerDOB          0 non-null      float64
 4   RightHandedBat     0 non-null      float64
 5   Nationality        0 non-null      float64
 6   TCompetitionID     150 non-null    int64
 7   TStrikerID         0 non-null      float64
 8   TTeamID            0 non-null      float64
 9   TeamCode           150 non-null    object
 10  TeamName           150 non-null    object
 11  CompetitionID      150 non-null    int64
 12  TeamID             0 non-null      float64
 13  StrikerID          0 non-null      float64
 14  Innings            150 non-null    int64
 15  Extras             0 non-null      float64
 16  TotalRuns          150 non-null    int64
 17  Balls              150 non-null    int64
 18  Dotballs           0 non-null      float64
 19  StrikeRate         150 non-null    float64
 20  DBPercent          0 non-null      float64
 21  DBFreq             0 non-null      float64
 22  BdryFreq           0 non-null      float64
 23  BdryPercent        0 non-null      float64
 24  RPSS               0 non-null      float64
 25  ScoringBalls       0 non-null      float64
 26  Ones               0 non-null      float64
 27  Twos               0 non-null      float64
 28  Threes             0 non-null      float64
 29  Fours              150 non-null    int64
 30  Sixes              150 non-null    int64
 31  Outs               150 non-null    int64
 32  NotOuts            150 non-null    int64
 33  BattingAveragesss  150 non-null    float64
 34  FiftyPlusRuns      150 non-null    int64
 35  Centuries          150 non-null    int64
 36  DoubleCenturies    0 non-null      float64
 37  HighestScore       150 non-null    object
 38  BattingAverage     150 non-null    float64
 39  Catches            0 non-null      float64
 40  Stumpings          0 non-null      float64
dtypes: float64(24), int64(13), object(4)
memory usage: 48.2+ KB

In [57]:
dfs[2008]['StrikeRate']

0      139.68
1      140.89
2      167.63
3      151.76
4      121.82
        ...
145    100.00
146      0.00
147      0.00
148      0.00
149      0.00
Name: StrikeRate, Length: 150, dtype: float64

In [58]:
dfs[2023].columns

Index(['StrikerName', 'PlayerId', 'Matches', 'PlayerDOB', 'RightHandedBat',
       'Nationality', 'TCompetitionID', 'TStrikerID', 'TTeamID', 'TeamCode',
       'TeamName', 'CompetitionID', 'TeamID', 'StrikerID', 'Innings', 'Extras',
       'TotalRuns', 'Balls', 'Dotballs', 'StrikeRate', 'DBPercent', 'DBFreq',
       'BdryFreq', 'BdryPercent', 'RPSS', 'ScoringBalls', 'Ones', 'Twos',
       'Threes', 'Fours', 'Sixes', 'Outs', 'NotOuts', 'BattingAveragesss',
       'FiftyPlusRuns', 'Centuries', 'DoubleCenturies', 'HighestScore',
       'BattingAverage', 'Catches', 'Stumpings'],
      dtype='object')

In [59]:
required_columns = ['StrikerName','PlayerId','Matches','PlayerDOB','RightHandedBat','Nationality','TeamCode','TeamName','Innings','TotalRuns','Balls','StrikeRate','Fours','Sixes','Outs','NotOuts','FiftyPlusRuns','Centuries','HighestScore','BattingAverage']
for year,df in dfs.items():
    dfs[year] = df[required_columns]

In [60]:
dfs[2008]['PlayerDOB'].astype(str)

0      nan
1      nan
2      nan
3      nan
4      nan
      ...
145    nan
146    nan
147    nan
148    nan
149    nan
Name: PlayerDOB, Length: 150, dtype: object

In [61]:
for df in dfs.values():
    df['PlayerDOB'] = df['PlayerDOB'].astype(str)
    df['Nation'] = None
    df['BattingStyle'] = None

C:\Users\Admin\AppData\Local\Temp\ipykernel_8860\2365936316.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['PlayerDOB'] = df['PlayerDOB'].astype(str)
C:\Users\Admin\AppData\Local\Temp\ipykernel_8860\2365936316.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Nation'] = None
C:\Users\Admin\AppData\Local\Temp\ipykernel_8860\2365936316.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['BattingStyle'] = None

In [62]:
for df in dfs.values():
    df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 22 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   StrikerName     150 non-null    object
 1   PlayerId        150 non-null    int64
 2   Matches         150 non-null    int64
 3   PlayerDOB       150 non-null    object
 4   RightHandedBat  0 non-null      float64
 5   Nationality     0 non-null      float64
 6   TeamCode        150 non-null    object
 7   TeamName        150 non-null    object
 8   Innings         150 non-null    int64
 9   TotalRuns       150 non-null    int64
 10  Balls           150 non-null    int64
 11  StrikeRate      150 non-null    float64
 12  Fours           150 non-null    int64
 13  Sixes           150 non-null    int64
 14  Outs            150 non-null    int64
 15  NotOuts         150 non-null    int64
 16  FiftyPlusRuns   150 non-null    int64
 17  Centuries       150 non-null    int64
 18  HighestScore    150 non-null    object
 19  BattingAverage  150 non-null    float64
 20  Nation          0 non-null      object
 21  BattingStyle    0 non-null      object
dtypes: float64(4), int64(11), object(7)
memory usage: 25.9+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130 entries, 0 to 129
Data columns (total 22 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   StrikerName     130 non-null    object
 1   PlayerId        130 non-null    int64
 2   Matches         130 non-null    int64
 3   PlayerDOB       130 non-null    object
 4   RightHandedBat  0 non-null      float64
 5   Nationality     0 non-null      float64
 6   TeamCode        130 non-null    object
 7   TeamName        130 non-null    object
 8   Innings         130 non-null    int64
 9   TotalRuns       130 non-null    int64
 10  Balls           130 non-null    int64
 11  StrikeRate      130 non-null    float64
 12  Fours           130 non-null    int64
 13  Sixes           130 non-null    int64
 14  Outs            130 non-null    int64
 15  NotOuts         130 non-null    int64
 16  FiftyPlusRuns   130 non-null    int64
 17  Centuries       130 non-null    int64
 18  HighestScore    130 non-null    object
 19  BattingAverage  130 non-null    float64
 20  Nation          0 non-null      object
 21  BattingStyle    0 non-null      object
dtypes: float64(4), int64(11), object(7)
memory usage: 22.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 22 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   StrikerName     153 non-null    object
 1   PlayerId        153 non-null    int64
 2   Matches         153 non-null    int64
 3   PlayerDOB       153 non-null    object
 4   RightHandedBat  0 non-null      float64
 5   Nationality     0 non-null      float64
 6   TeamCode        153 non-null    object
 7   TeamName        153 non-null    object
 8   Innings         153 non-null    int64
 9   TotalRuns       153 non-null    int64
 10  Balls           153 non-null    int64
 11  StrikeRate      153 non-null    float64
 12  Fours           153 non-null    int64
 13  Sixes           153 non-null    int64
 14  Outs            153 non-null    int64
 15  NotOuts         153 non-null    int64
 16  FiftyPlusRuns   153 non-null    int64
 17  Centuries       153 non-null    int64
 18  HighestScore    153 non-null    object
 19  BattingAverage  153 non-null    float64
 20  Nation          0 non-null      object
 21  BattingStyle    0 non-null      object
dtypes: float64(4), int64(11), object(7)
memory usage: 26.4+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 161 entries, 0 to 160
Data columns (total 22 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   StrikerName     161 non-null    object
 1   PlayerId        161 non-null    int64
 2   Matches         161 non-null    int64
 3   PlayerDOB       161 non-null    object
 4   RightHandedBat  0 non-null      float64
 5   Nationality     0 non-null      float64
 6   TeamCode        161 non-null    object
 7   TeamName        161 non-null    object
 8   Innings         161 non-null    int64
 9   TotalRuns       161 non-null    int64
 10  Balls           161 non-null    int64
 11  StrikeRate      161 non-null    float64
 12  Fours           161 non-null    int64
 13  Sixes           161 non-null    int64
 14  Outs            161 non-null    int64
 15  NotOuts         161 non-null    int64
 16  FiftyPlusRuns   161 non-null    int64
 17  Centuries       161 non-null    int64
 18  HighestScore    161 non-null    object
 19  BattingAverage  161 non-null    float64
 20  Nation          0 non-null      object
 21  BattingStyle    0 non-null      object
dtypes: float64(4), int64(11), object(7)
memory usage: 27.8+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 22 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   StrikerName     157 non-null    object
 1   PlayerId        157 non-null    int64
 2   Matches         157 non-null    int64
 3   PlayerDOB       157 non-null    object
 4   RightHandedBat  0 non-null      float64
 5   Nationality     0 non-null      float64
 6   TeamCode        157 non-null    object
 7   TeamName        157 non-null    object
 8   Innings         157 non-null    int64
 9   TotalRuns       157 non-null    int64
 10  Balls           157 non-null    int64
 11  StrikeRate      157 non-null    float64
 12  Fours           157 non-null    int64
 13  Sixes           157 non-null    int64
 14  Outs            157 non-null    int64
 15  NotOuts         157 non-null    int64
 16  FiftyPlusRuns   157 non-null    int64
 17  Centuries       157 non-null    int64
 18  HighestScore    157 non-null    object
 19  BattingAverage  157 non-null    float64
 20  Nation          0 non-null      object
 21  BattingStyle    0 non-null      object
dtypes: float64(4), int64(11), object(7)
memory usage: 27.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158 entries, 0 to 157
Data columns (total 22 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   StrikerName     158 non-null    object
 1   PlayerId        158 non-null    int64
 2   Matches         158 non-null    int64
 3   PlayerDOB       158 non-null    object
 4   RightHandedBat  0 non-null      float64
 5   Nationality     0 non-null      float64
 6   TeamCode        158 non-null    object
 7   TeamName        158 non-null    object
 8   Innings         158 non-null    int64
 9   TotalRuns       158 non-null    int64
 10  Balls           158 non-null    int64
 11  StrikeRate      158 non-null    float64
 12  Fours           158 non-null    int64
 13  Sixes           158 non-null    int64
 14  Outs            158 non-null    int64
 15  NotOuts         158 non-null    int64
 16  FiftyPlusRuns   158 non-null    int64
 17  Centuries       158 non-null    int64
 18  HighestScore    158 non-null    object
 19  BattingAverage  158 non-null    float64
 20  Nation          0 non-null      object
 21  BattingStyle    0 non-null      object
dtypes: float64(4), int64(11), object(7)
memory usage: 27.3+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132 entries, 0 to 131
Data columns (total 22 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   StrikerName     132 non-null    object
 1   PlayerId        132 non-null    int64
 2   Matches         132 non-null    int64
 3   PlayerDOB       132 non-null    object
 4   RightHandedBat  0 non-null      float64
 5   Nationality     0 non-null      float64
 6   TeamCode        132 non-null    object
 7   TeamName        132 non-null    object
 8   Innings         132 non-null    int64
 9   TotalRuns       132 non-null    int64
 10  Balls           132 non-null    int64
 11  StrikeRate      132 non-null    float64
 12  Fours           132 non-null    int64
 13  Sixes           132 non-null    int64
 14  Outs            132 non-null    int64
 15  NotOuts         132 non-null    int64
 16  FiftyPlusRuns   132 non-null    int64
 17  Centuries       132 non-null    int64
 18  HighestScore    132 non-null    object
 19  BattingAverage  132 non-null    float64
 20  Nation          0 non-null      object
 21  BattingStyle    0 non-null      object
dtypes: float64(4), int64(11), object(7)
memory usage: 22.8+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129 entries, 0 to 128
Data columns (total 22 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   StrikerName     129 non-null    object
 1   PlayerId        129 non-null    int64
 2   Matches         129 non-null    int64
 3   PlayerDOB       129 non-null    object
 4   RightHandedBat  0 non-null      float64
 5   Nationality     0 non-null      float64
 6   TeamCode        129 non-null    object
 7   TeamName        129 non-null    object
 8   Innings         129 non-null    int64
 9   TotalRuns       129 non-null    int64
 10  Balls           129 non-null    int64
 11  StrikeRate      129 non-null    float64
 12  Fours           129 non-null    int64
 13  Sixes           129 non-null    int64
 14  Outs            129 non-null    int64
 15  NotOuts         129 non-null    int64
 16  FiftyPlusRuns   129 non-null    int64
 17  Centuries       129 non-null    int64
 18  HighestScore    129 non-null    object
 19  BattingAverage  129 non-null    float64
 20  Nation          0 non-null      object
 21  BattingStyle    0 non-null      object
dtypes: float64(4), int64(11), object(7)
memory usage: 22.3+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129 entries, 0 to 128
Data columns (total 22 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   StrikerName     129 non-null    object
 1   PlayerId        129 non-null    int64
 2   Matches         129 non-null    int64
 3   PlayerDOB       129 non-null    object
 4   RightHandedBat  0 non-null      float64
 5   Nationality     0 non-null      float64
 6   TeamCode        129 non-null    object
 7   TeamName        129 non-null    object
 8   Innings         129 non-null    int64
 9   TotalRuns       129 non-null    int64
 10  Balls           129 non-null    int64
 11  StrikeRate      129 non-null    float64
 12  Fours           129 non-null    int64
 13  Sixes           129 non-null    int64
 14  Outs            129 non-null    int64
 15  NotOuts         129 non-null    int64
 16  FiftyPlusRuns   129 non-null    int64
 17  Centuries       129 non-null    int64
 18  HighestScore    129 non-null    object
 19  BattingAverage  129 non-null    float64
 20  Nation          0 non-null      object
 21  BattingStyle    0 non-null      object
dtypes: float64(4), int64(11), object(7)
memory usage: 22.3+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136 entries, 0 to 135
Data columns (total 22 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   StrikerName     136 non-null    object
 1   PlayerId        136 non-null    int64
 2   Matches         136 non-null    int64
 3   PlayerDOB       136 non-null    object
 4   RightHandedBat  0 non-null      float64
 5   Nationality     0 non-null      float64
 6   TeamCode        136 non-null    object
 7   TeamName        136 non-null    object
 8   Innings         136 non-null    int64
 9   TotalRuns       136 non-null    int64
 10  Balls           136 non-null    int64
 11  StrikeRate      136 non-null    float64
 12  Fours           136 non-null    int64
 13  Sixes           136 non-null    int64
 14  Outs            136 non-null    int64
 15  NotOuts         136 non-null    int64
 16  FiftyPlusRuns   136 non-null    int64
 17  Centuries       136 non-null    int64
 18  HighestScore    136 non-null    object
 19  BattingAverage  136 non-null    float64
 20  Nation          0 non-null      object
 21  BattingStyle    0 non-null      object
dtypes: float64(4), int64(11), object(7)
memory usage: 23.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 138 entries, 0 to 137
Data columns (total 22 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   StrikerName     138 non-null    object
 1   PlayerId        138 non-null    int64
 2   Matches         138 non-null    int64
 3   PlayerDOB       138 non-null    object
 4   RightHandedBat  0 non-null      float64
 5   Nationality     0 non-null      float64
 6   TeamCode        138 non-null    object
 7   TeamName        138 non-null    object
 8   Innings         138 non-null    int64
 9   TotalRuns       138 non-null    int64
 10  Balls           138 non-null    int64
 11  StrikeRate      138 non-null    float64
 12  Fours           138 non-null    int64
 13  Sixes           138 non-null    int64
 14  Outs            138 non-null    int64
 15  NotOuts         138 non-null    int64
 16  FiftyPlusRuns   138 non-null    int64
 17  Centuries       138 non-null    int64
 18  HighestScore    138 non-null    object
 19  BattingAverage  138 non-null    float64
 20  Nation          0 non-null      object
 21  BattingStyle    0 non-null      object
dtypes: float64(4), int64(11), object(7)
memory usage: 23.8+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144 entries, 0 to 143
Data columns (total 22 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   StrikerName     144 non-null    object
 1   PlayerId        144 non-null    int64
 2   Matches         144 non-null    int64
 3   PlayerDOB       144 non-null    object
 4   RightHandedBat  0 non-null      float64
 5   Nationality     0 non-null      float64
 6   TeamCode        144 non-null    object
 7   TeamName        144 non-null    object
 8   Innings         144 non-null    int64
 9   TotalRuns       144 non-null    int64
 10  Balls           144 non-null    int64
 11  StrikeRate      144 non-null    float64
 12  Fours           144 non-null    int64
 13  Sixes           144 non-null    int64
 14  Outs            144 non-null    int64
 15  NotOuts         144 non-null    int64
 16  FiftyPlusRuns   144 non-null    int64
 17  Centuries       144 non-null    int64
 18  HighestScore    144 non-null    object
 19  BattingAverage  144 non-null    float64
 20  Nation          0 non-null      object
 21  BattingStyle    0 non-null      object
dtypes: float64(4), int64(11), object(7)
memory usage: 24.9+ KB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133 entries, 0 to 132
Data columns (total 22 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   StrikerName     133 non-null    object
 1   PlayerId        133 non-null    int64
 2   Matches         133 non-null    int64
 3   PlayerDOB       133 non-null    object
 4   RightHandedBat  0 non-null      float64
 5   Nationality     0 non-null      float64
 6   TeamCode        133 non-null    object
 7   TeamName        133 non-null    object
 8   Innings         133 non-null    int64
 9   TotalRuns       133 non-null    int64
 10  Balls           133 non-null    int64
 11  StrikeRate      133 non-null    float64
 12  Fours           133 non-null    int64
 13  Sixes           133 non-null    int64
 14  Outs            133 non-null    int64
 15  NotOuts         133 non-null    int64
 16  FiftyPlusRuns   133 non-null    int64
 17  Centuries       133 non-null    int64
 18  HighestScore    133 non-null    object
 19  BattingAverage  133 non-null    float64
 20  Nation          0 non-null      object
 21  BattingStyle    0 non-null      object
dtypes: float64(4), int64(11), object(7)
memory usage: 23.0+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 22 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   StrikerName     149 non-null    object
 1   PlayerId        149 non-null    int64
 2   Matches         149 non-null    int64
 3   PlayerDOB       149 non-null    object
 4   RightHandedBat  0 non-null      float64
 5   Nationality     0 non-null      float64
 6   TeamCode        149 non-null    object
 7   TeamName        149 non-null    object
 8   Innings         149 non-null    int64
 9   TotalRuns       149 non-null    int64
 10  Balls           149 non-null    int64
 11  StrikeRate      149 non-null    float64
 12  Fours           149 non-null    int64
 13  Sixes           149 non-null    int64
 14  Outs            149 non-null    int64
 15  NotOuts         149 non-null    int64
 16  FiftyPlusRuns   149 non-null    int64
 17  Centuries       149 non-null    int64
 18  HighestScore    149 non-null    object
 19  BattingAverage  149 non-null    float64
 20  Nation          0 non-null      object
 21  BattingStyle    0 non-null      object
dtypes: float64(4), int64(11), object(7)
memory usage: 25.7+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162 entries, 0 to 161
Data columns (total 22 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   StrikerName     162 non-null    object
 1   PlayerId        162 non-null    int64
 2   Matches         162 non-null    int64
 3   PlayerDOB       162 non-null    object
 4   RightHandedBat  162 non-null    bool
 5   Nationality     0 non-null      float64
 6   TeamCode        162 non-null    object
 7   TeamName        162 non-null    object
 8   Innings         162 non-null    int64
 9   TotalRuns       162 non-null    int64
 10  Balls           162 non-null    int64
 11  StrikeRate      162 non-null    float64
 12  Fours           162 non-null    int64
 13  Sixes           162 non-null    int64
 14  Outs            162 non-null    int64
 15  NotOuts         162 non-null    int64
 16  FiftyPlusRuns   162 non-null    int64
 17  Centuries       162 non-null    int64
 18  HighestScore    162 non-null    object
 19  BattingAverage  162 non-null    object
 20  Nation          0 non-null      object
 21  BattingStyle    0 non-null      object
dtypes: bool(1), float64(2), int64(11), object(8)
memory usage: 26.9+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 166 entries, 0 to 165
Data columns (total 22 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   StrikerName     166 non-null    object
 1   PlayerId        166 non-null    int64
 2   Matches         166 non-null    int64
 3   PlayerDOB       166 non-null    object
 4   RightHandedBat  166 non-null    bool
 5   Nationality     166 non-null    object
 6   TeamCode        166 non-null    object
 7   TeamName        166 non-null    object
 8   Innings         166 non-null    int64
 9   TotalRuns       166 non-null    int64
 10  Balls           166 non-null    int64
 11  StrikeRate      166 non-null    float64
 12  Fours           166 non-null    int64
 13  Sixes           166 non-null    int64
 14  Outs            166 non-null    int64
 15  NotOuts         166 non-null    int64
 16  FiftyPlusRuns   166 non-null    int64
 17  Centuries       166 non-null    int64
 18  HighestScore    166 non-null    object
 19  BattingAverage  166 non-null    object
 20  Nation          0 non-null      object
 21  BattingStyle    0 non-null      object
dtypes: bool(1), float64(1), int64(11), object(9)
memory usage: 27.5+ KB

In [64]:
for df in dfs.values():
    for name in df['StrikerName']:
        try:
            espn_url = googler(name)
            
            player_id = get_player_id(espn_url)
            
            url = 'https://hs-consumer-api.espncricinfo.com/v1/pages/player/home?playerId=' + player_id
            
            response = requests.get(url)
            
            player_dict = json.loads(response.content.decode())
            
            dob = player_dict['player']['dateOfBirth']
            
            row = df[df['StrikerName']==name].index.values[0]
            
            df.at[row,'PlayerDOB'] = f"{dob['date']}-{dob['month']}-{dob['year']}"
            
            df.at[row,'BattingStyle'] = player_dict['player']['battingStyles'][0]
            
            df.at[row,'Nation'] = player_dict['player']['country']['name']
            
        except Exception as e:
            print(f'{name} : {e}')

Tillakaratne Dilshan : HTTP Error 429: Too Many Requests
Manoj Tiwary : HTTP Error 429: Too Many Requests
Niraj Patel : HTTP Error 429: Too Many Requests
Debabrata Das : HTTP Error 429: Too Many Requests
Simon Katich : HTTP Error 429: Too Many Requests

KeyboardInterrupt: