In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
combined = {}
matches = {}
points_table = {}

In [3]:
for year in range(2008,2024):
    combined[year] = pd.read_csv(f'seasonwise/combined/combined_{year}.csv')
    matches[year] = pd.read_csv(f'seasonwise/matches/matches_{year}.csv')
    points_table[year] = pd.read_csv(f'seasonwise/points_table/table_{year}.csv')

In [4]:
# 2008 - combined[2008]['PlayerDOB'].apply(lambda x: x.split('-')[-1]).astype(int)

In [5]:
# for column in combined[2008].columns:
#     if combined[2008][column].dtype == 'object' or combined[2008][column].dtype == 'bool':
#         continue
#     else:
#         combined[2008][column].fillna(0,inplace=True)

In [6]:
# for column in combined[2008].columns:
#     if combined[2008][column].dtype == 'bool':
#         continue
#     elif combined[2008][column].dtype == 'object':
#         combined[2008][column].fillna('NA',inplace=True)
#     else:
#         combined[2008][column].fillna(0,inplace=True)

In [7]:
# combined[2008].info()

In [8]:
def highest_score_parser(score):
    if not score is np.nan:
        if score.endswith('*'):
            return score[:-1],'Not Dismissed'
        else:
            return score,'Dismissed'
    else:
        return 'DNB','NA'

In [9]:
# combined[2008]['IsDismissed'] = combined[2008].HighestScore.apply(lambda x:highest_score_parser(x)[1])

In [10]:
# combined[2008]['HighestScore'] = combined[2008].HighestScore.apply(lambda x:highest_score_parser(x)[0])

In [11]:
# combined[2008].drop(columns=['BBMW'],inplace=True)

In [12]:
def bowling_parser(figures):
    if figures is np.nan:
        return 0,0
    else:
        wickets,runs = tuple(map(int,figures.split('/')))
        return wickets,runs

In [13]:
# combined[2008]['BestBowlingWickets'] = combined[2008].BBIW.apply(lambda x:bowling_parser(x)[0])
# combined[2008]['BestBowlingRuns'] = combined[2008].BBIW.apply(lambda x:bowling_parser(x)[1])
# combined[2008].drop(columns=['BBIW'],inplace=True)

In [14]:
# combined[2008][['Name','BestBowlingWickets','BestBowlingRuns']].sort_values(by=['BestBowlingWickets','BestBowlingRuns'],ascending=[False,True]).head(30)

In [15]:
for year,df in combined.items():
    df['Year'] = year
    df['Age'] = year - df['PlayerDOB'].apply(lambda x: x.split('-')[-1]).astype(int)

In [16]:
for df in combined.values():
    for column in df.columns:
        if df[column].dtype == 'object' or df[column].dtype == 'bool':
            continue
        else:
            df[column].fillna(0,inplace=True)

In [17]:
for df in combined.values():
    df['IsDismissed'] = df.HighestScore.apply(lambda x:highest_score_parser(x)[1])
    df['HighestScore'] = df.HighestScore.apply(lambda x:highest_score_parser(x)[0])
    df.drop(columns=['BBMW'],inplace=True)

In [18]:
for df in combined.values():
    df['BestBowlingWickets'] = df.BBIW.apply(lambda x:bowling_parser(x)[0])
    df['BestBowlingRuns'] = df.BBIW.apply(lambda x:bowling_parser(x)[1])
    df.drop(columns=['BBIW'],inplace=True)

In [23]:
for year,df in combined.items():
    print(f'{year} : {df.shape}')

2008 : (158, 39)
2009 : (137, 39)
2010 : (168, 39)
2011 : (184, 39)
2012 : (175, 39)
2013 : (187, 39)
2014 : (147, 39)
2015 : (139, 39)
2016 : (139, 39)
2017 : (152, 39)
2018 : (145, 39)
2019 : (161, 39)
2020 : (144, 39)
2021 : (162, 39)
2022 : (186, 39)
2023 : (198, 39)

In [32]:
combined[2008].append(combined[2009]).shape

C:\Users\Admin\AppData\Local\Temp\ipykernel_15784\1223167.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined[2008].append(combined[2009]).shape

(295, 39)

In [37]:
pd.concat([combined[2008],combined[2009]],ignore_index=True)

,Name,PlayerDOB,TotalRuns,Balls,StrikeRate,Fours,Sixes,Outs,NotOuts,FiftyPlusRuns,...,TeamName,Innings,Matches,Nationality,RightHandedBat,Year,Age,IsDismissed,BestBowlingWickets,BestBowlingRuns
0,Shaun Marsh,9-7-1983,616.0,441.0,139.68,59.0,26.0,9.0,2.0,5.0,...,Punjab Kings,11.0,11.0,Overseas,False,2008,25,Dismissed,0,0
1,Gautam Gambhir,14-10-1981,534.0,379.0,140.89,68.0,8.0,13.0,1.0,5.0,...,Delhi Capitals,14.0,14.0,Indian,False,2008,27,Dismissed,0,0
2,Sanath Jayasuriya,30-6-1969,518.0,309.0,167.63,58.0,31.0,12.0,2.0,2.0,...,Mumbai Indians,14.0,14.0,Overseas,False,2008,39,Not Dismissed,3,14
3,Shane Watson,17-6-1981,472.0,311.0,151.76,47.0,19.0,10.0,5.0,4.0,...,Rajasthan Royals,15.0,15.0,Overseas,True,2008,27,Not Dismissed,4,29
4,Graeme Smith,1-2-1981,441.0,362.0,121.82,54.0,8.0,9.0,2.0,3.0,...,Rajasthan Royals,11.0,11.0,Overseas,False,2008,27,Dismissed,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
290,Charl Langeveldt,17-12-1974,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,...,Kolkata Knight Riders,1.0,1.0,Overseas,True,2009,35,NA,3,15
291,Harmeet Singh Bansal,9-10-1987,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,...,Deccan Chargers,7.0,7.0,Indian,True,2009,22,NA,3,24
292,Anureet Singh,2-3-1988,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,...,Kolkata Knight Riders,2.0,3.0,Indian,True,2009,21,NA,3,23
293,Vikramjeet Malik,9-5-1983,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,...,Punjab Kings,5.0,5.0,Indian,True,2009,26,NA,2,14
294,Vikram Singh,17-9-1984,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,...,Punjab Kings,4.0,5.0,Indian,True,2009,25,NA,3,29

In [39]:
final_df = None

In [40]:
for df in combined.values():
    if final_df is None:
        final_df = df
    else:
        final_df = pd.concat([final_df,df],ignore_index=True)

In [41]:
final_df.shape

(2582, 39)

In [51]:
final_df[['Name','Year']].sort_values(by=['Name','Year'],ascending=[True,True]).head(50)

                       Name  Year
62           AB de Villiers  2008
347          AB de Villiers  2010
488          AB de Villiers  2011
671          AB de Villiers  2012
839          AB de Villiers  2013
1019         AB de Villiers  2014
1159         AB de Villiers  2015
1298         AB de Villiers  2016
1436         AB de Villiers  2017
1597         AB de Villiers  2018
1741         AB de Villiers  2019
1901         AB de Villiers  2020
2054         AB de Villiers  2021
75            Aakash Chopra  2008
254           Aakash Chopra  2009
395             Aaron Finch  2010
544             Aaron Finch  2011
729             Aaron Finch  2012
832             Aaron Finch  2013
1034            Aaron Finch  2014
1238            Aaron Finch  2015
1377            Aaron Finch  2016
1446            Aaron Finch  2017
1629            Aaron Finch  2018
1922            Aaron Finch  2020
2273            Aaron Finch  2022
638         Aavishkar Salvi  2011
2541           Abdul Basith  2023
1944            Abdul Samad  2020
2089            Abdul Samad  2021
2345            Abdul Samad  2022
2438            Abdul Samad  2023
146            Abdur Razzak  2008
2346         Abhijeet Tomar  2022
423        Abhimanyu Mithun  2010
561        Abhimanyu Mithun  2011
975        Abhimanyu Mithun  2013
2267        Abhinav Manohar  2022
2451        Abhinav Manohar  2023
147          Abhinav Mukund  2008
931          Abhinav Mukund  2013
336   Abhishek Jhunjhunwala  2010
592   Abhishek Jhunjhunwala  2011
749   Abhishek Jhunjhunwala  2012
24           Abhishek Nayar  2008
184          Abhishek Nayar  2009
362          Abhishek Nayar  2010
535          Abhishek Nayar  2011
734          Abhishek Nayar  2012
900          Abhishek Nayar  2013

In [53]:
final_df[final_df['Name'] == 'Virat Kohli'][['Age','TotalRuns']]

      Age  TotalRuns
37     20      165.0
175    21      246.0
313    22      307.0
464    23      557.0
662    24      364.0
824    25      634.0
1027   26      359.0
1160   27      505.0
1299   28      505.0
1434   29      973.0
1592   30      530.0
1738   31      464.0
1900   32      466.0
2047   33      405.0
2219   34      341.0
2387   35      639.0

In [54]:
final_df.to_csv('seasonwise/for_all_seasons.csv',index=False)